$buttonHeight: 4px;
$buttonHeightHold: 0px;
$buttonRadius: 10px;


.bigButton,
.textButton {
	margin: 12px;
	padding: 6px 24px;
	border-radius: $buttonRadius;

	font-size: 1.0em;
	font-weight: 700;

	user-select: none;
	-webkit-tap-highlight-color: transparent;

	transition: all 100ms;

	&.hold {
		transform: translateY(calc($buttonHeight - $buttonHeightHold));
		transition: all 0ms;
		filter: brightness(0.8);
	}

	cursor: unset;
	opacity: 0.6;

	&.enabled {
		cursor: pointer;
		opacity: 1.0;
	}
}


.bigButton {
	// box-shadow: 0px 6px 0px rgb(107 114 128);
	@apply bg-gray-500 text-white;

	&.enabled {
		box-shadow: 0px $buttonHeight 0px var(--skansen-darkred);
		background-color: var(--skansen-red);
		color: var(--skansen-white);
	}

	&.hold {
		box-shadow: 0px $buttonHeightHold 0px var(--skansen-darkred);
	}
}

.textButton {
	color: var(--skansen-darkred);
}

.closeButton {
	padding: 0 0.5em 0.2em;
	color: var(--skansen-black);
	font-size: 2em;
	font-weight: 600;
	position: absolute;
	top: 0;
	right: 0;
}