.map {
	&-wrapper {
		// height: 100%;
		flex-grow: 1;
		position: relative;
		transition: all 200ms ease;
	}
	
	&-wrapper.active {
		height: 0%;
		flex-grow: 0;
	}
	
	
	&-container {
		// border: 2px solid black;
		// width: 100%;
		// height: 50vh;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		// border-radius: 1em;
		// overflow: hidden;
	}
	
	// &-marker {
	// width: 100px;
	// height: 100px;
	// background-image: url("/content/pexels-brett-sayles-1021616.jpg");
	// background-size: cover;
	// background-position: center;
	// border-radius: 1000px;
	// }
	
	// &-marker:hover {
		// transform: scale(1.2);
	// }
	
	// &-overlay {
	/* background-color: red; */
	/* transform: rotate(45deg); */
	// }
	
	&-popup {
		.leaflet-popup-content-wrapper {
			text-align: center;
			// background-color: red;
			// margin: 0;
			// padding: 0;
	
			p {
				font-size: 1.5em;
				margin: 0 0 .5em;
			}
		}
	}
	
}

// Removes leaflet credits
.leaflet-control-attribution {
	transform: translate(10000px);
}
