$buttonHeight: 7px;
$buttonHeightHold: 0px;
$buttonHeightActive: 3px;
$buttonRadius: 1000px;


.wrapper {
	@apply grid grid-cols-3 gap-6 m-4 mb-16;
	user-select: none;
}


.dots {
	@apply flex my-8 gap-4 justify-center;
}

.dotOn {
	@apply w-4 h-4 rounded-full bg-green-700;
	transition: all 100ms;
}

.dotOff {
	@apply w-4 h-4 rounded-full bg-slate-200 border-2 border-white;
	transition: all 100ms;
}


.button {
	@apply bg-slate-300 flex p-4 justify-center;
	aspect-ratio: 1 / 1;
	// @apply border-slate-400;
	// border-style: solid;
	// border-bottom-width: 32px;
	border-radius: $buttonRadius;
	box-shadow: 0px $buttonHeight 0px rgb(148 163 184);
	transition: all 100ms;
	filter: brightness(1.0);

	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

	&.highlight {
		box-shadow: 0px $buttonHeightActive 0px rgb(148 163 184);
		transform: translateY(calc($buttonHeight - $buttonHeightActive));
		filter: brightness(0.8);
	}

	&.hold {
		box-shadow: 0px $buttonHeightHold 0px rgb(148 163 184);
		transform: translateY(calc($buttonHeight - $buttonHeightHold));
		transition: all 0ms;
		filter: brightness(0.8);
	}

	& img {
		width: auto;
		pointer-events: none;
	}
}


.previewWrapper {
	@apply bg-slate-100 grid grid-cols-4 gap-6 m-4 p-4 rounded-full;
	user-select: none;
}

.previewButton {
	@apply bg-slate-300 flex p-3 justify-center;
	aspect-ratio: 1 / 1;
	// @apply border-slate-400;
	// border-style: solid;
	// border-bottom-width: 32px;
	border-radius: $buttonRadius;
	transition: all 100ms;
	filter: brightness(1.0);

	user-select: none;
	-webkit-tap-highlight-color: transparent;

	& img {
		pointer-events: none;
	}
}


.incorrect {
	animation: Shake .6s ease-out;
}

@keyframes Shake {
	0% {
		transform: translate(calc(2 * 10.0px));
	}

	10% {
		transform: translate(calc(2 * -8.1px));
	}

	20% {
		transform: translate(calc(2 * 6.4px));
	}

	30% {
		transform: translate(calc(2 * -4.9px));
	}

	40% {
		transform: translate(calc(2 * 3.6px));
	}

	50% {
		transform: translate(calc(2 * -2.5px));
	}

	60% {
		transform: translate(calc(2 * 1.6px));
	}

	70% {
		transform: translate(calc(2 * -0.9px));
	}

	80% {
		transform: translate(calc(2 * 0.4px));
	}

	90% {
		transform: translate(calc(2 * -0.1px));
	}

	100% {
		transform: translate(calc(2 * 0.0px));
	}
}